# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml
.flattened-pom.xml

# App
logs/
/upload/
tmp/
uni_config.yaml
*.dot
